name: Release Tags

on:
  release:
    types: [released, edited]

jobs:
  tagger:
    name: Release tagging
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Tag release
        uses: stevenjdh/action-tagger@v1
        with:
          set-latest-tag: true
